body, html {
    height: 100%;
}

.center-img {
    display: block;
    margin: 0 auto;
    width: 45%;
}

p.first-para {
    width: 250px;
    height: 85px;
    padding: 15px;
    border: 1px solid #1ff0ff;
    margin: 20px auto;
    color: #ffffff;
}

p.quote-para {
    width: 250px;
    height: 75px;
    padding: 15px;
    border: 1px solid #1ff0ff;
    margin: 20px auto;
    color: #fff;
}

body {
    background-color: #333;
}

.li {
    color: #fff;
    width: 300px;
    height: 115px;
    padding: 15px;
    border: 1px solid #1ff0ff;
    margin: 10px auto;
    text-align: center;
    list-style-position: inside;
}

strong {
    display: block;
    width: 280px;
    height: 20px;
    padding: 15px;
    border: 1px solid #1ff0ff;
    margin: 20px auto;
    color: #fff;
}

.first-li {
    color: #fff;
    width: 50px;
    height: 25px;
    padding: 15px;
    margin: 10px auto;
}

h1 {
    color: #fff;
    width: 275px;
    height: 1em;
    padding: 15px;
    margin: 10px auto;
    border: 1px solid #1ff0ff;
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.sec-li {
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
    display: inline;
}

h3 {
    color: #fff;
    width: 200px;
    height: 1em;
    padding: 15px;
    margin: 10px auto;
    border: 1px solid #1ff0ff;
    text-align: center;
}

.present-li {
    color: #fff;
    width: 300px;
    height: 5em;
    padding: 15px;
    border: 1px solid #1ff0ff;
    margin: 10px auto;
    text-align: center;
    list-style-type: none;
}