.topnav {
    background-color: #1ff0ff;
    overflow: hidden;
    font-family: Georgia, Times, serif;
    text-transform: uppercase;
    font-weight: bold;
}

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #333;
    color: #fff;
}
