@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    background-color: #333;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

h2 {
    width: 301px;
    height: 25px;
    border: 1px solid #1ff0ff;
    padding: 5px;
    margin: 5px auto;
}

#content {
    color: #333;
    height: 400px;
    width: 50%;
    background-image: linear-gradient(#1ff0ff, #33ccff);
    font-family: 'Raleway', sans-serif;
    border: 3px solid #ffff66;
    margin: 10px auto;
    column-count: 1;
    display: none;
}

#day {
    font-weight: bold;
    line-height: 1;
    font-size: 1.15em;
    padding: 15px;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 3px solid #ffff66;
    text-align: center;
}

#conditions {
    font-weight: bold;
    line-height: 0.5;
    font-size: 1.15em;
    padding: 10px;
    margin: 5%;
    border: 2px solid #ffff66;
    text-align: center;
}

#currentTemp {
    font-weight: bold;
    line-height: 0.5;
    font-size: 1.15em;
    padding: 10px;
    margin: 5%;
    border: 2px solid #ffff66;
    text-align: center;
}

#highTemp {
    font-weight: bold;
    line-height: 0.5;
    font-size: 1.15em;
    padding: 10px;
    margin: 5%;
    border: 2px solid #ffff66;
    text-align: center;
}

#lowTemp {
    font-weight: bold;
    line-height: 0.5;
    font-size: 1.15em;
    padding: 10px;
    margin: 5%;
    border: 2px solid #ffff66;
    text-align: center;
}

#button {
    background-image: linear-gradient(#1ff0ff, #33ccff);
    width: 5;
    height: 25px;
    border: 2px solid #ffff66;
    color: #333;
    margin: auto auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
}